@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Optical';
  src: url('../fonts/Optician-Sans.otf');
}

body {
  @apply font-sans;
}

a {
  @apply text-ta-200;
  transition: all 0.25s ease;
}

a:hover {
  @apply underline cursor-pointer;
}

.link-active {
  @apply text-ta-200 text-xl;
}

.btn-active {
  @apply bg-ta-200 shadow-inner;
}

.neg-16 {
  margin-top: -4rem;
}

.v-center {
  position: absolute;
  top:50%;
  transform:translate(0%, -50%);
}

.greyscale {
  filter: grayscale(100%) opacity(50%);
}

.text-shadow {
  text-shadow: 0 2px 4px rgba(0,0,0,0.10);
}

.text-shadow-md {
  text-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.08);
}

.text-shadow-lg {
  text-shadow: 0 15px 30px rgba(0,0,0,0.11), 0 5px 15px rgba(0,0,0,0.08);
}

.text-shadow-none {
  text-shadow: none;
}

.max-w-640 {
  max-width: 640px;
}

.absolute-center {
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}

@responsive {
  .order-0 { order: 0; }
  .order-1 { order: 1; }
  .order-2 { order: 2; }
  .order-3 { order: 3; }
  .order-4 { order: 4; }
  .order-5 { order: 5; }
}